:root{
    --while-color : #fff;
    --back-color: #000;
    --text-color: #333;
    --primary-color : #ee4D2D;

    --header-height : 120px;
    --header-nav : 34px;
    --header-with-search: calc(var(--header-height) - var(--header-nav));

}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;

}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 81.6666%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 18.999%;
}
@keyframes fadIn{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.btn{
    min-width: 20px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn-primary{
    background-color: var(--primary-color);
    color: var(--while-color);
}
.select-input{
    padding: 0 12px;
    height: 34px;
    border-radius: 2px;
    background-color: #fff;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-input__labal{
    font-size: 1.4rem;
}
